name: Release CSI image
on:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: publish-${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

env:
  CONTAINER_REGISTRY: ghcr.io
  VERSION: ${{ github.ref_name == 'main' && 'latest-edge' || github.ref_name }}

jobs:
  # Precheck job checks whether the release is required.
  # The release is triggered only on push to main branch.
  # If the release with version in Makefile does not exist yet, a new release is created.
  # Otherwise, a latest-edge is released.
  precheck:
    runs-on: ubuntu-24.04
    outputs:
      versions: ${{ steps.read.outputs.versions }}
      release: ${{ steps.read.outputs.release }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Determine versions to be published
        id: read
        shell: bash
        run: |
          set -e
          versions=""

          # Latest release only on the main branch.
          if [ "${{ github.ref_name }}" = "main" ]; then
            versions="${versions} latest-edge"
          fi

          # Read and validate current version.
          version=$(cat VERSION)
          if [[ ! "${version}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Error: Invalid version '${version}' in VERSION file. It must be a semantic version prefixed with 'v'."
          fi

          # Check if the version already exists.
          # If it does not exist, add versions that need to be published to the list.
          release=$(gh release list -R ${{ github.repository }} --json tagName --jq ".[] | select(.tagName == \"${version}\").tagName")
          if [ ${release} = "" ]; then
            versions="${versions} ${version}"      # Example: v1.2.3
            versions="${versions} ${version%.*}"   # Example: v1.2
            versions="${versions} ${version%%.*}"  # Example: v1
          fi

          # Trim potential surrounding whitespace.
          versions=$(echo "$versions" | xargs)

          # Output versions for publishing.
          echo "versions=${versions}" >> "$GITHUB_OUTPUT"
          echo "release=${release}" >> "$GITHUB_OUTPUT"

  tests:
    needs:
      - precheck
    permissions:
      contents: read
    uses: ./.github/workflows/tests.yml

  e2e-tests:
    uses: ./.github/workflows/e2e-tests.yml
    needs:
      - precheck
      - tests

  # Publish container image to GHCR if tests passed and we are on main branch.
  publish:
    if: ${{ github.repository == 'canonical/lxd-csi-driver' && needs.precheck.outputs.versions != '' }}
    needs:
      - precheck
      - e2e-tests
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.mod'

      - name: Build image and create image tags
        id: image
        run: |
          set -e
          make build

          tags=""
          for version in ${{ needs.precheck.outputs.versions }}; do
            tags=${tags},${{ env.CONTAINER_REGISTRY }}/${{ github.repository }}:${version}
          done

          echo "tags=${tags}" >> "$GITHUB_OUTPUT"

      - name: Log in to the container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.CONTAINER_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          push: true
          tags: ${{ steps.image.outputs.tags }}

      - name: Log in to the Helm registry
        run: |
          set -e
          echo "${{ github.token }}" \
            | helm registry login "${{ env.CONTAINER_REGISTRY }}" \
              --username "${{ github.actor }}" \
              --password-stdin

      - name: Publish new Chart
        run: |
          set -e
          for version in ${{ needs.precheck.outputs.versions }}; do
            # If the version does not start with an integer (prefix 'v' is optional),
            # we prefix Chart version with 'v0-' prefix to satisfy Helm chart version constraints.
            chartVersion=$(echo "$(version)" | sed -E 's/^v?[0-9].*/&/;t; s/^/v0-/')

            helm package charts --version "${chartVersion}" --app-version "${version}"
            helm push "lxd-csi-driver-${chartVersion}.tgz" "oci://${{ env.CONTAINER_REGISTRY }}/${{ github.repository_owner }}/charts"
          done

      - name: Make a release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ needs.precheck.outputs.release }}
          tag_name: ${{ needs.precheck.outputs.release }}
          generate_release_notes: true
          draft: false
